<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="leaderboard">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Mission Banquet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="survivors">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>My Bids</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scoring">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
